---
import Base from "../layouts/Base.astro";
import Prose from "../components/Prose.astro";
---

<Base>
    <Prose>
        <h1 class="text-5xl font-bold">Albemarle Mesh</h1>
        <p>Albemarle Mesh is a community project designed to set up a strong Meshtastic backbone in Albemarle County to facilitate emergency communication during events where other methods of communication have failed. This project is currently under very active development.</p>

        <h2 class="text-4xl font-bold">Get Involved</h2>
        <p>If you would like to participate, you can get in touch by joining the <a href="https://discord.gg/7etcWxwatE">Discord server</a> or emailing <a href="mailto:contact@albemarlemesh.com">contact@albemarlemesh.com</a>.</p>
    </Prose>
</Base>
